html, body
{
	background-color: gray;
	margin: 0;
}

nav
{
	padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: white;
}

.makePostButton
{
	display: flex;
	justify-content: space-around;
}

.makePostButton button
{
	width: 50%;
	height: 4em;
}

.topOfPost
{
	display: flex;
	justify-content: space-between;
	font-size: 2em;
}

.topOfPost b
{
  	line-height: 1em;
  	text-align: center;
}

article
{
	margin: 1em auto;
  	width: 50em;
  	padding: 2em;
	background-color: white;
}

.image img
{
	width: 100%;
	height: auto;
}

.controls
{
	font-size: 1em;
	display:flex;
	padding: 2em;
}


.commentfield
{
}

.comment
{
	width: 90%;
	border: 1px #000 solid;
	padding: 2em;
	margin: 1em auto;
}

.pfp
{
	height: 4em;
	width: 4em;
	border-radius:50%;
	border: 2px #000 solid;
}