<!DOCTYPE html>
<html>
	{% load static %}
	<head>
		<title>M7011E</title>
		<link rel="stylesheet" href="{% static 'kapsylgram/main.css' %}">
	</head>
	<body>
		<nav class ="Top">
			<h2>Hjalmargram</h2>
			<a href="#">Search</a>
			<a href="#">Notifications</a>
			<a href="#">Menu</a>
		</nav>
		<article class ="makePostButton">
			<button>Make post</button>
		</article>
		<!--En image post-->
		<article class="Imgpost">
			<!--Poster-->
			<div class="topOfPost">
				<div>
					<img src="{% static 'kapsylgram/pfp/Limpowitch.png' %}" class="pfp">
					<b>Limpowitch</b>
				</div>
				<div>
					<span>3h ago</span>
				</div>
			</div>
			<hr>
			<!--Content-->
			<div class="image">
				<img src="{% static 'kapsylgram/img/Skor.png' %}">
			</div>
			<!--Like etc-->
			<hr>
			<div class="controls">
				<button>&lt;3</button>
				<b><a class="tag" href="#">@Kapsyloffer</a> and 12 others like this.</b>
			</div>
			<hr>
			<!--Comments-->
			<div class="commentfield">
				<!--Commenter-->
				<div class ="comment">
					<img src="{% static 'kapsylgram/pfp/Limpowitch.png' %}" class="pfp">
					<p><b><a href="#" class="commenter">@Limpowitch</a>:</b>: Who did this lmao</p>
				</div>
				<!--Commenter-->
				<div class ="comment">
					<img src="{% static 'kapsylgram/pfp/Jek9412.png' %}" class="pfp">
					<p><b><a href="#" class="commenter">@Jek9412</a>:</b>: Not me bro. It's <a class="tag" href="#">@Kapsyloffer</a></p>
				</div>
				<!--Commenter-->
				<div class ="comment">
					<img src="{% static 'kapsylgram/pfp/Kapsyloffer.png' %}" class="pfp">
					<p><b><a href="#" class="commenter">@Kapsyloffer</a>:</b>: Nah bro I went home early frfr</p>
				</div>
			</div>
		</article>

		<!--En text post -->
		<article class="Textpost">
			<div class="topOfPost">
				<div class="topLeft">
					<img src="{% static 'kapsylgram/pfp/Kapsyloffer.png' %}" class="pfp">
					<b>Kapsyloffer</b>
				</div>
				<div class="topRight">
					<span>4h ago</span>
				</div>
			</div>
			<hr>
			<div class="text">
				<p>Professorn sa pp pa lektionen lmao</p>
			</div>
			<!--Like etc-->
			<hr>
			<div class="controls">
				<button>&lt;3</button>
				<b><a class="tag" href="#">@LeifTeorin</a> and 3 others like this.</b>
			</div>
			<hr>
			<div class="commentfield">
				<!--Commenter-->
				<div class ="comment">
					<img src="{% static 'kapsylgram/pfp/Jek9412.png' %}" class="pfp">
					<p><b><a href="#" class="commenter">@Jek9412</a>:</b>: lmao</p>
				</div>
			</div>
		</article>


	</body>
</html>