.DirectMessages
{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.me, .notMe
{ 
  display: flex;
}

.me
{
    justify-content: right;
}

.notMe
{
   justify-content: left;
}

.me p, .notMe p
{
    width: 50%;
}

.chatTextbox
{
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.topOfChat img, .contact img
{
    height: 2em;
    width: 2em;
}