*
{
	font-family: 'Helvetica', 'Arial', sans-serif;
	margin: 0;
}

html, body
{
	background-image: linear-gradient(to bottom, purple, black);
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

span
{
	font-size: 0.75em;
}

.top h2
{
	font-family: ;
}

nav
{
	padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: white;
}

.makePostButton
{
	display: flex;
	justify-content: space-around;
}

.makePostButton button
{
	width: 50%;
	height: 4em;
}

.topOfPost
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 7fr;
	font-size: 2em;
	width: 100%;
}

.topRight
{
	padding: auto, 0;
}

.topOfPost b
{
  	line-height: 1em;
  	text-align: center;
}

article
{
	margin: 1em auto;
  	width: 50em;
  	padding: 2em;
	background-color: white;
}

.image img
{
	aspect-ratio: 1 / 1;
	width: 100%;
	border: 15px solid transparent;
  	border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  	border-image-slice: 1;
	object-fit: cover;
}

.controls
{
	font-size: 1em;
	display:flex;
	padding: 2em;
}

article
{
	border-radius: 20px;
}

.commentfield
{
}

.comment
{
	width: 90%;
	border: 1px #000 solid;
	padding: 1em;
	margin: 1em auto;
	font-size: 1.5em;
}

.pfp
{
	height: 2em; 
	width: 2em;
	border-radius:50%;
	border: 2px #000 solid;
}

.comment b
{
	line-height: 1em;
	text-align: center;
}

.tag, .tag:visited
{
	color: blue;
}

.commenter, .commenter:visited
{
	color: black;
}

.commenter:hover, 
.tag:hover
{
	color: gray;
}

.imgposts
{
	display: grid;
	grid-template-columns: 1fr;
}