.buttons
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.buttons a
{
    font-size: 1.5em;
}

a, a:visited
{
    color: red;
}

a:hover
{
    color: black;
}

.noposts
{
    justify-content: center;
    align-content: center;
    text-align: center;
    font-style: italic; 
}
.noposts img
{ 
    border-radius: 10%;
}

.textposts
{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 3em;
    align-content: center;
    justify-content: center;
    text-align:  center;
}

.textpost
{
    width: 90%;
    border: 2px #000 solid;
    border-radius: 1em;
}

.textpost p
{
    text-align:  left;
}

.textpost p
{
    font-size: 2em;
}

.imgposts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    grid-template-rows: auto;
}

.imgposts img{
    border-radius: 5%;
}

.image{
    object-fit: cover;
}

.profilepic{
    display: grid;
    grid-row: 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.profilepic img{
    border-radius:50%;
    margin: 0 auto ;
    height: 15em;
    width: 15em;
}

.followbuttons
{
    margin: 0 auto ;
    width: 50%; 
    display:grid; 
    grid-template-columns: 9fr 1fr;
}

.bio
{
    font-style: italic;
}

.profileinfo{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
}

.textpostinfo{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    text-align: center;
}